$headermargin: 1rem 2.5rem;
$heromargin:0 0.833rem 0.833rem 0.833rem;
$commonmargin: 4.17rem 3.33rem;
$commonmarginmobile:3.125rem 1rem;  
$commonmargintablet:2rem;  
$border-radius: 16px;
$font-bold:600;
$font-medium:500;
$font-normal:400;
$primaryColor:#000;
$SecondryColor:#454444;
$ScreaminGreen:#2a292911;
$SecondryScreaminGreen:#323232;
$GrayScale:#6D6D6D;
$SecondryGrayColor:#888888;
$image-width: 4.583rem;
$transition-duration: 0.6s;
$transition-ease: ease;

